# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/raytrace/.vs/raytrace/v16
/raytrace/raytrace.vcxproj
/raytrace/raytrace.vcxproj.filters
/raytrace/raytrace.vcxproj.user
